<!DOCTYPE html>
<html ng-app="shopApp">

<head>
    <title>ng-training</title>
    <script src="../resources/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
    a {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
    
    td {
        background-color: lightpink;
        padding: 5px;
    }
    form span {
        color: red;
    }
    </style>
</head>

<body ng-controller="ShopCtrl as ctrl">
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="item in ctrl.cart">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
        </tr>
    </table>
    <hr> {{ctrl.totalCartValue}}
    <hr>
    <table>
        <tr ng-repeat="product in ctrl.inventory">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><a ng-click="ctrl.addProductToCart(product)">add to cart</a></td>
        </tr>
    </table>
    <hr>
    <form name="addProductForm" ng-submit="ctrl.addToInventory()">
        <input name="name" type="text" ng-model="ctrl.item.name" required ng-minlength="5">
        
        <span ng-show="addProductForm.$dirty && addProductForm.name.$error.required">
            required
        </span>
        <span ng-show="addProductForm.$dirty && addProductForm.name.$error.minlength">
            minimum length is 5
        </span>
        <br>
        <input name="price" type="number" ng-model="ctrl.item.price" required>
        <span ng-show="addProductForm.$dirty && addProductForm.price.$error.required">
            required
        </span>
        <br>
        <input type="submit" value="Add" ng-disabled="addProductForm.$invalid">
    </form>
</body>

</html>
