    th {
        background-color: navy;
        color: white;
        padding: 5px;
    }
    
    td {
        background-color: lightgray;
        padding: 5px;
    }

    ng-view {
    	display: block;
        padding: 20px;
    }
