<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl as headerCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" ng-show="ctrl.auth.user">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#/">My ng-App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-show="headerCtrl.auth.user">
                <li ng-class="{active:isActive('/')}"><a href="#/">Home</a>
                </li>
                <li ng-class="{active:isActive('/about')}"><a href="#/about">About</a>
                </li>
                <li ng-class="{active:isActive('/products')}"><a href="#/products">Products</a>
                </li>
                <li> <a  ng-click="headerCtrl.logout()">Welcome {{headerCtrl.auth.user.username}}! Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
