<html ng-app="todoApp">

<head>
    <title>ng-training</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="app.js"></script>
    <style>
    th {
        background-color: navy;
        color: white;
        padding: 5px;
    }
    
    td {
        background-color: lightgray;
        padding: 5px;
    }
    </style>
</head>

<body ng-controller="TodoCtrl as ctrl">
    <h2>Create a todo</h2>
    <form ng-submit="ctrl.addTodo()">
        <label>Label</label>
        <input type="text" ng-model="ctrl.newTodo.label">
        <br>
        <label>Priority</label>
        <select ng-model="ctrl.newTodo.priority">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <br>
        <label>Done?</label>
        <input type="checkbox" ng-model="ctrl.newTodo.done" />
        <br>
        <input type="submit" value="Submit">
    </form>
    <h2>Edit a todo</h2>
    <form ng-submit="ctrl.updateTodo()">
            <label>Label</label>
            <input type="text" ng-model="ctrl.todoToEdit.label">
            <br>
            <label>Priority</label>
            <select ng-model="ctrl.todoToEdit.priority">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br>
            <label>Done?</label>
            <input type="checkbox" ng-model="ctrl.todoToEdit.done"/>
            <br>
            <input type="submit" value="Submit">
        </form>
    <h2>Todos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Priority</th>
            <th>Done</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="todo in ctrl.todos">
            <td> {{todo.id}} </td>
            <td> {{todo.label}} </td>
            <td> {{todo.priority}} </td>
            <td> {{ todo.done ? '&#10003' : '&#10005' }} </td>
            <td> 
            <button ng-click="ctrl.editTodo(todo)">edit</button> 
            <button ng-click="ctrl.deleteTodo(todo)">delete</button>
            </td>
        </tr>
    </table>
</body>

</html>
