<!DOCTYPE html>
<html ng-app="userApp">

<head>
    <title>ng-training</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="app.js"></script>
    <style>
    label {
        width: 100px;
        display: inline-block;
        height: 30px;
    }
    </style>
</head>

<body ng-controller="UserCtrl as ctrl">
    <form name="userForm" ng-submit="ctrl.submit()">
        <label>User</label>
        <input type="text" ng-model="ctrl.user.username" required ng-minlength="4">
        <br>
        <label>Password</label>
        <input type="password" ng-model="ctrl.user.password" required>
        <br>
        <input type="submit" value="Submit" ng-disabled="userForm.$invalid">
        <hr>
        <pre>
		State of the form: 
		
		$invalid: {{userForm.$invalid}} 
		$valid: {{userForm.$valid}} 
		$dirty: {{userForm.$dirty}} 
		$pristine: {{userForm.$pristine}} 
		$error: {{userForm.$error}}
		</pre>
    </form>
</body>

</html>
