<form ng-submit="ctrl.submit()">
        <label>Label</label>
        <input type="text" ng-model="ctrl.newTodo.label">
        <br>
        <label>Priority</label>
		<select ng-model="ctrl.newTodo.priority">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
        <br>
        <label>Done?</label>
        <input type="checkbox" ng-model="ctrl.newTodo.done"/>
        <br>
        <input type="submit" value="Submit">
    </form>