<!DOCTYPE html>
<html ng-app="blogApp">

<head>
    <title>ng-training</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="PostsCtrl as ctrl">
    <h4>ng-repeat on an array</h4>
    <ul>
        <li ng-repeat="post in ctrl.posts">
            {{post.id}}. {{post.title}} [{{post.month}}]
        </li>
    </ul>


    <h4>ng-repeat on the array with helper variables</h4>
    <ul>
        <li ng-repeat="post in ctrl.posts">
            {{post.id}}. {{post.title}} [{{post.month}}]
            <br>Some useful variables: | $index: {{$index}} | $first: {{$first}} | $middle: {{$middle}} | $last: {{$last}} | $odd {{$odd}} | $even {{$even}}
        </li>
    </ul>
    

    <h4>ng-repeat on an object</h4>
    <ul>
        <li ng-repeat="(month, post) in ctrl.postsObj">{{post.id}}. {{post.title}}</li>
    </ul>
    

    <h4>ng-repeat across multiple elements</h4>
    <ul>
        <li ng-repeat-start="post in ctrl.posts">{{post.id}}. {{post.title}}</li>
        <li ng-repeat-end>{{post.month}}</li>
    </ul>
</body>

</html>
