body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.header {
	background-color: navy;
	color: white;
	padding: 10px;
}

.header a {
	color: white;
	margin-right: 10px;
	text-decoration: none;
}

.header .logo {
	float: left;
	font-weight: bold;
	font-size: larger;
}

.header .menu {
	float: right;
}

.clear {
	clear: both;
}

.book-add-btn {
	background-color: brown;
	color: white;
	padding: 5px;
	text-decoration: none;
	float: right;
	margin: 10px;
	box-shadow: 5px gray;
}

table {
	margin: 20px;
}
td {
	padding-bottom: 20px;
	border-top: 1px solid #bbb;
}
ng-view {
	margin: 20px;
	display: block;
}

.success {
	background-color: green;
	color: white;
}

.error {
	background-color: red;
	color: white;
}