<!DOCTYPE html>
<html ng-app="filtersApp">

<head>
    <title>ng-training</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="app.js"></script>
    <style>
    td {
        background-color: lightgreen;
    }
    </style>
</head>

<body>
    <div ng-controller="FilterCtrl as ctrl">
        <h2>String Filter</h2>
        <div>
            <input type="text" ng-model="ctrl.stringFilter">
        </div>
        <table>
            <tr ng-repeat="note in ctrl.notes | filter:ctrl.stringFilter">
                <td>{{note.label}}</td>
                <td>{{note.type}}</td>
                <td>{{note.done}}</td>
            </tr>
        </table>
        <h2>Object Filter</h2>
        <div>
            Label:
            <input type="text" ng-model="ctrl.objectFilter.label">
            <br> Done:
            <input type="checkbox" ng-model="ctrl.objectFilter.done">
        </div>
        <table>
            <tr ng-repeat="note in ctrl.notes | filter:ctrl.objectFilter">
                <td>{{note.label}}</td>
                <td>{{note.type}}</td>
                <td>{{note.done}}</td>
            </tr>
        </table>
        <h2>Function Filter</h2>
        <div>
            <select ng-model="ctrl.functionFilter" ng-options="f.toString() for f in ctrl.availableFunctionFilters"></select>
        </div>
        <table>
            <tr ng-repeat="note in ctrl.notes | filter:ctrl.functionFilter">
                <td>{{note.label}}</td>
                <td>{{note.type}}</td>
                <td>{{note.done}}</td>
            </tr>
        </table>
        <h2>Filtered from controller</h2>
        <table>
            <tr ng-repeat="note in ctrl.filteredNotes">
                <td>{{note.label}}</td>
                <td>{{note.type}}</td>
                <td>{{note.done}}</td>
            </tr>
        </table>
        <h2>Add to table</h2>
        <button ng-click="ctrl.addRowToTable()">Add</button>
    </div>
</body>

</html>
</body>

</html>
